{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/service_provider_sub_service_select.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="container">
    <h1>Edit services</h1>

    {{ include('prestator/_form.html.twig',{
        button_text: 'Update'
    }) }}
{% endblock %}