<h3>
    Hello {{ passwordResetTokenEntity.getUser().getName() }}. Account recovery email.
</h3>

<p>
    Please click
    <a href="{{ url('account_recovery', {'token': passwordResetTokenEntity.getToken()}) }}">this</a> link, to reset password for your account
</p>